<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">                
                © @DateTime.Now.Year Annex by Mannatthemes.
            </div>
        </div>
    </div>
</footer>